.card {
  background-color: #fbfbfb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards_mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card img {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.card_info {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.card_figure {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}
.card_description {
  color: #74798c;
  font-size: 14px;
}
