/* navbar horizontal */
.navbar_horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 91px;
  width: 100%;
}

.navbar_horizontal ul {
  display: flex;
  list-style: none;
  width: 994px;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  margin-left: 28px;
}

/* navbar vertical */
.navbar_vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  width: 117px;
  height: 100%;
  align-items: center;
}
.navbar_vertical ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 316px;
  justify-content: space-between;
}
.navbar_vertical p {
  writing-mode: vertical-lr;
}
