/* navbar horizontal */
.navbar_horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 91px;
}

.navbar_horizontal ul {
  display: flex;
  list-style: none;
  width: 994px;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  margin-left: 28px;
}
