@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-width: 1024px;
  min-height: 1080px;
}
.main {
  display: flex;
  justify-content: space-between;
}

/* navbar vertical */
.navbar_vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  color: white;
  width: 10%;
  align-items: center;
}
.navbar_vertical ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 316px;
  justify-content: space-between;
}
.navbar_vertical p {
  writing-mode: vertical-lr;
}
/* Dashboard*/

.dashboard {
  width: 85%;
}
.dashboard_header h1 {
  font-size: 48px;
  font-weight: 500;
}
.name {
  color: #ff0101;
}

.dashboard_header h2 {
  font-size: 18px;
  font-weight: 400;
}
.dashboard_header p {
  font-size: 24px;
  margin-bottom: 60px;
}
.dashboard_main {
  display: flex;
}
.dashboard_charts {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  justify-content: space-between;
  width: min-content;
}

.firstName {
  color: #ff0101;
}
.recharts-responsive-container {
  position: absolute;
}
.custom-tooltip {
  background-color: #e60000;
  color: white;
  padding: 10px;
}
.tooltipLinear {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
}
.home_page {
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.user_button {
  background-color: #e60000;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}

.switch_button {
  background-color: black;
  color: #e60000;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
  width: 200px;
  height: 100px;
}
.error {
  position: absolute;
  top: 200px;
  left: 300px;
  color: #e60000;
}
.barChartContainer {
  background-color: #fbfbfb;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 730px;
}
.barChart_legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.legend_title {
  font-size: 15px;
  font-weight: 500;
}
.legend_dataKey {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #74798c;
}
.legend_dataKey img {
  margin-right: 10px;
}
.linearChartContainer {
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  position: static;
  height: 235px;
  width: 230px;
}
.linearChart_legend p {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.5;
  padding: 20px 40px 0px;
}

.custom-tooltip-LinearChart {
  background-color: #ffffff;
}
.sessionLength {
  color: black;
  padding: 20px;
}
.radarChartContainer {
  height: 235px;
  width: 230px;
  background-color: #282d30;
  border-radius: 5px;
  position: static;
}

.pieChartContainer {
  height: 230px;
  width: 235px;
  background-color: #fbfbf4;
  border-radius: 5px;
  position: static;
}
.pieChartTitle {
  position: absolute;
  color: #20253a;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
}
.score {
  font-weight: bold;
  font-size: 26px;
}
.score_text {
  font-size: 16px;
  font-weight: 500;
}
